In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('adult.csv')
df.shape

(32561, 15)

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'],
      dtype='object')

In [5]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
country           object
salary            object
dtype: object

In [6]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
country           0
salary            0
dtype: int64

In [7]:
columns_to_remove=['marital-status','occupation','relationship','race','sex']
df.drop(columns = columns_to_remove, inplace=True)
df.shape

(32561, 10)

In [8]:
df.select_dtypes(include=["object"]).columns

Index(['workclass', 'education', 'country', 'salary'], dtype='object')

In [9]:
df.head()

,age,workclass,fnlwgt,education,education-num,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,0,0,40,Cuba,<=50K

In [10]:
df=df.replace('?',np.nan)

In [11]:
df.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [12]:


new_df = pd.get_dummies(data=df)
new_df.columns

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'workclass_ ?', 'workclass_ Federal-gov',
       'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private',
       'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc',
       'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 10th',
       'education_ 11th', 'education_ 12th', 'education_ 1st-4th',
       'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th',
       'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors',
       'education_ Doctorate', 'education_ HS-grad', 'education_ Masters',
       'education_ Preschool', 'education_ Prof-school',
       'education_ Some-college', 'country_ ?', 'country_ Cambodia',
       'country_ Canada', 'country_ China', 'country_ Columbia',
       'country_ Cuba', 'country_ Dominican-Republic', 'country_ Ecuador',
       'country_ El-Salvador', 'country_ England', 'country_ France',
       'country_ Germany', 'country_ Greece', 'country_ Guatemala',
       'country_ Haiti', 'country_ Holand-Netherlands', 'country_ Honduras',
       'country_ Hong', 'country_ Hungary', 'country_ India', 'country_ Iran',
       'country_ Ireland', 'country_ Italy', 'country_ Jamaica',
       'country_ Japan', 'country_ Laos', 'country_ Mexico',
       'country_ Nicaragua', 'country_ Outlying-US(Guam-USVI-etc)',
       'country_ Peru', 'country_ Philippines', 'country_ Poland',
       'country_ Portugal', 'country_ Puerto-Rico', 'country_ Scotland',
       'country_ South', 'country_ Taiwan', 'country_ Thailand',
       'country_ Trinadad&Tobago', 'country_ United-States',
       'country_ Vietnam', 'country_ Yugoslavia', 'salary_ <=50K',
       'salary_ >50K'],
      dtype='object')

In [13]:
import seaborn as sns

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:

df['salary']=LabelEncoder().fit_transform(df['salary'])
df['salary']
df['age']=LabelEncoder().fit_transform(df['age'])
df['workclass']=LabelEncoder().fit_transform(df['workclass'])
df['fnlwgt']=LabelEncoder().fit_transform(df['fnlwgt'])
df['education']=LabelEncoder().fit_transform(df['education'])
df['education-num']=LabelEncoder().fit_transform(df['education-num'])
df['capital-gain']=LabelEncoder().fit_transform(df['capital-gain'])
df['capital-loss']=LabelEncoder().fit_transform(df['capital-loss'])
df['hours-per-week']=LabelEncoder().fit_transform(df['hours-per-week'])
df['country']=LabelEncoder().fit_transform(df['country'])

In [16]:
from sklearn import metrics
from sklearn.model_selection import train_test_split

x= df.iloc[:,:-1]
y=df.iloc[:,-1]

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [17]:
from sklearn.svm import SVC
sv_classifier=SVC()

In [18]:
y_pred=sv_classifier.fit(x_train,y_train).predict(x_test)

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
sc = accuracy_score(y_test,y_pred)
sc

0.7541839398126823

In [21]:
x_train.head()

,age,workclass,fnlwgt,education,education-num,capital-gain,capital-loss,hours-per-week,country
14180,35,2,15597,12,13,0,0,31,39
14472,17,6,512,11,8,0,0,39,39
10883,29,4,2838,11,8,0,0,47,39
19040,25,4,19244,11,8,0,0,39,39
26974,31,4,6222,11,8,0,0,41,39

In [22]:
from sklearn.model_selection import GridSearchCV

In [23]:
##param_grid={'kernel':['rbf','sigmoid'], 'c':[0.1,1,0.5,1], 'random_state':[0,100,200,300]}

In [27]:
param_grid = {'C' : [0.01, 0.1, 1, 10], 'kernel': ('rbf', 'sigmoid')}

In [28]:
grid=GridSearchCV(estimator=sv_classifier,param_grid=param_grid,cv=5,verbose=3)

In [29]:
grid.fit(x_train,y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits
[CV 1/5] END ................C=0.01, kernel=rbf;, score=0.760 total time=  28.8s
[CV 2/5] END ................C=0.01, kernel=rbf;, score=0.760 total time=  22.0s
[CV 3/5] END ................C=0.01, kernel=rbf;, score=0.760 total time=  24.1s
[CV 4/5] END ................C=0.01, kernel=rbf;, score=0.760 total time=  23.2s
[CV 5/5] END ................C=0.01, kernel=rbf;, score=0.760 total time=  22.5s
[CV 1/5] END ............C=0.01, kernel=sigmoid;, score=0.660 total time=  21.9s
[CV 2/5] END ............C=0.01, kernel=sigmoid;, score=0.657 total time=  20.6s
[CV 3/5] END ............C=0.01, kernel=sigmoid;, score=0.665 total time=  19.9s
[CV 4/5] END ............C=0.01, kernel=sigmoid;, score=0.664 total time=  22.9s
[CV 5/5] END ............C=0.01, kernel=sigmoid;, score=0.760 total time=  19.5s
[CV 1/5] END .................C=0.1, kernel=rbf;, score=0.760 total time=  22.2s
[CV 2/5] END .................C=0.1, kernel=rbf;, score=0.760 total time=  22.1s
[CV 3/5] END .................C=0.1, kernel=rbf;, score=0.760 total time=  22.7s
[CV 4/5] END .................C=0.1, kernel=rbf;, score=0.760 total time=  22.4s
[CV 5/5] END .................C=0.1, kernel=rbf;, score=0.760 total time=  22.1s
[CV 1/5] END .............C=0.1, kernel=sigmoid;, score=0.634 total time=  16.1s
[CV 2/5] END .............C=0.1, kernel=sigmoid;, score=0.630 total time=  16.1s
[CV 3/5] END .............C=0.1, kernel=sigmoid;, score=0.635 total time=  16.0s
[CV 4/5] END .............C=0.1, kernel=sigmoid;, score=0.638 total time=  16.1s
[CV 5/5] END .............C=0.1, kernel=sigmoid;, score=0.642 total time=  16.3s
[CV 1/5] END ...................C=1, kernel=rbf;, score=0.760 total time=  22.8s
[CV 2/5] END ...................C=1, kernel=rbf;, score=0.760 total time=  22.8s
[CV 3/5] END ...................C=1, kernel=rbf;, score=0.760 total time=  24.9s
[CV 4/5] END ...................C=1, kernel=rbf;, score=0.760 total time=  23.4s
[CV 5/5] END ...................C=1, kernel=rbf;, score=0.760 total time=  26.5s
[CV 1/5] END ...............C=1, kernel=sigmoid;, score=0.631 total time=  18.6s
[CV 2/5] END ...............C=1, kernel=sigmoid;, score=0.627 total time=  15.7s
[CV 3/5] END ...............C=1, kernel=sigmoid;, score=0.631 total time=  16.9s
[CV 4/5] END ...............C=1, kernel=sigmoid;, score=0.635 total time=  17.1s
[CV 5/5] END ...............C=1, kernel=sigmoid;, score=0.636 total time=  16.7s
[CV 1/5] END ..................C=10, kernel=rbf;, score=0.762 total time=  28.8s
[CV 2/5] END ..................C=10, kernel=rbf;, score=0.760 total time=  25.8s
[CV 3/5] END ..................C=10, kernel=rbf;, score=0.760 total time=  25.5s
[CV 4/5] END ..................C=10, kernel=rbf;, score=0.761 total time=  27.3s
[CV 5/5] END ..................C=10, kernel=rbf;, score=0.760 total time=  27.1s
[CV 1/5] END ..............C=10, kernel=sigmoid;, score=0.631 total time=  17.4s
[CV 2/5] END ..............C=10, kernel=sigmoid;, score=0.626 total time=  16.0s
[CV 3/5] END ..............C=10, kernel=sigmoid;, score=0.631 total time=  16.4s
[CV 4/5] END ..............C=10, kernel=sigmoid;, score=0.635 total time=  15.9s
[CV 5/5] END ..............C=10, kernel=sigmoid;, score=0.634 total time=  14.0s

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [0.01, 0.1, 1, 10], 'kernel': ('rbf', 'sigmoid')},
             verbose=3)

In [32]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.6.1-py3-none-win_amd64.whl (125.4 MB)
Requirement already satisfied: scipy in c:\users\harshanagaraj\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in c:\users\harshanagaraj\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.6.1

In [33]:
grid.best_estimator_

SVC(C=10)

In [34]:
from xgboost import XGBClassifier

In [35]:
xgb=XGBClassifier()

In [36]:
y_pred= xgb.fit(x_train,y_train).predict(x_test)

In [38]:
acu2=accuracy_score(y_test,y_pred)
acu2

0.839705204974666

In [ ]:
import matplotlib.pyplot as plt

y_prediction = svm.predict_proba(x_test)[::,1]
pr1,pr2,_= metrics.roc_curve(y_test,y_prediction)
auc=metrics.roc_auc_score(y_test,y_prediction)
plt.plot(pr1,pr2,label="test data ,auccurecy="+str(auc))
plt.legend(loc=1)
plt.show